
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: weblogic-operator
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://oracle.github.io/weblogic-kubernetes-operator/charts
    chart: weblogic-operator
    targetRevision: 4.0.2   # Replace with latest version
    helm:
      values: |
        domainNamespaceSelectionStrategy: LabelSelector
        enableClusterRoleBinding: true
        # Add other custom values here
  destination:
    server: https://kubernetes.default.svc
    namespace: weblogic-operator
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
